In [1]:
import pandas as pd
import io
import requests

In [2]:
roster_09 = pd.read_csv("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/roster_data/regular_season/reg_roster_2009.csv", sep = ',', header = 0)
roster_09.head()

,season,season_type,full_player_name,abbr_player_name,team,position,gsis_id
0,2009,reg,Aaron Brown,A.Brown,DET,RB,00-0027129
1,2009,reg,Aaron Rodgers,A.Rodgers,GB,QB,00-0023459
2,2009,reg,Aaron Stecker,A.Stecker,ATL,RB,00-0015601
3,2009,reg,Adrian Peterson,A.Peterson,CHI,RB,00-0021306
4,2009,reg,Adrian Peterson,A.Peterson,MIN,RB,00-0025394

In [3]:
roster_10 = pd.read_csv("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/roster_data/regular_season/reg_roster_2010.csv", sep = ',', header = 0)
roster_10.head()

,season,season_type,full_player_name,abbr_player_name,team,position,gsis_id
0,2010,reg,Aaron Brown,A.Brown,DET,RB,00-0027129
1,2010,reg,Aaron Hernandez,A.Hernandez,NE,TE,00-0027713
2,2010,reg,Aaron Rodgers,A.Rodgers,GB,QB,00-0023459
3,2010,reg,Adrian Arrington,A.Arrington,NO,WR,00-0026377
4,2010,reg,Adrian Peterson,A.Peterson,MIN,RB,00-0025394

In [4]:
roster_11 = pd.read_csv("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/roster_data/regular_season/reg_roster_2011.csv", sep = ',', header = 0)
roster_11.head()

,season,season_type,full_player_name,abbr_player_name,team,position,gsis_id
0,2011,reg,A.J. Feeley,A.Feeley,STL,QB,00-0020305
1,2011,reg,A.J. Green,A.Green,CIN,WR,00-0027942
2,2011,reg,Aaron Brown,A.Brown,DET,RB,00-0027129
3,2011,reg,Aaron Hernandez,A.Hernandez,NE,TE,00-0027713
4,2011,reg,Aaron Rodgers,A.Rodgers,GB,QB,00-0023459

In [5]:
roster_12 = pd.read_csv("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/roster_data/regular_season/reg_roster_2012.csv", sep = ',', header = 0)
roster_12.head()

,season,season_type,full_player_name,abbr_player_name,team,position,gsis_id
0,2012,reg,A.J. Green,A.Green,CIN,WR,00-0027942
1,2012,reg,A.J. Jenkins,A.Jenkins,SF,WR,00-0029654
2,2012,reg,Aaron Hernandez,A.Hernandez,NE,TE,00-0027713
3,2012,reg,Aaron Rodgers,A.Rodgers,GB,QB,00-0023459
4,2012,reg,Adrian Peterson,A.Peterson,MIN,RB,00-0025394

In [6]:
roster_13 = pd.read_csv("https://raw.githubusercontent.com/ryurko/nflscrapR-data/master/roster_data/regular_season/reg_roster_2013.csv", sep = ',', header = 0)
roster_13.head()

,season,season_type,full_player_name,abbr_player_name,team,position,gsis_id
0,2013,reg,A.J. Green,A.Green,CIN,WR,00-0027942
1,2013,reg,A.J. Jenkins,A.Jenkins,KC,WR,00-0029654
2,2013,reg,Aaron Dobson,A.Dobson,NE,WR,00-0030540
3,2013,reg,Aaron Rodgers,A.Rodgers,GB,QB,00-0023459
4,2013,reg,Ace Sanders,A.Sanders,JAC,WR,00-0030550

In [7]:
roster_grp_df = pd.concat([roster_09, roster_10, roster_11, roster_12, roster_13],ignore_index=True).drop_duplicates().reset_index(drop=True)
roster_df = roster_grp_df[['season', 'full_player_name', 'abbr_player_name', 'team', 'position']].copy()
roster_df.head()

   season full_player_name abbr_player_name team position
0    2009      Aaron Brown          A.Brown  DET       RB
1    2009    Aaron Rodgers        A.Rodgers   GB       QB
2    2009    Aaron Stecker        A.Stecker  ATL       RB
3    2009  Adrian Peterson       A.Peterson  CHI       RB
4    2009  Adrian Peterson       A.Peterson  MIN       RB

In [8]:
first_names = []
last_names = []

name_df = roster_df['full_player_name']
for i in range(len(name_df)):
    name = name_df[i].split(" ", 2)
    first_names.append(name[0])
    last_names.append(name[1])


roster_df['first_name'] = first_names
roster_df['last_name'] = last_names
roster_df.head()

   season full_player_name abbr_player_name team position first_name last_name
0    2009      Aaron Brown          A.Brown  DET       RB      Aaron     Brown
1    2009    Aaron Rodgers        A.Rodgers   GB       QB      Aaron   Rodgers
2    2009    Aaron Stecker        A.Stecker  ATL       RB      Aaron   Stecker
3    2009  Adrian Peterson       A.Peterson  CHI       RB     Adrian  Peterson
4    2009  Adrian Peterson       A.Peterson  MIN       RB     Adrian  Peterson

In [9]:
# Store dataframe as variable to use in other notebook
%store roster_df

Stored 'roster_df' (DataFrame)