In [1]:
import pandas as pd
import requests

In [2]:
#path='Resources/players_2013-12-12.csv'

url="http://nflsavant.com/dump/players_2013-12-12.csv"

In [3]:
df = pd.read_csv(url)

In [4]:
df2 = df[['name', 'first_name', 'last_name', 'college', 'position', 'height', 'weight', 'draft_team', 'draft_round', 'year_start', 'year_end']]

In [5]:
%store df2

Stored 'df2' (DataFrame)

In [6]:
df2.loc[df2['name'] == 'Adrian Peterson']

,name,first_name,last_name,college,position,height,weight,draft_team,draft_round,year_start,year_end
16552,Adrian Peterson,Adrian,Peterson,Georgia Southern,RB,10-May,210.0,Chicago Bears,6th,1942,1945
16553,Adrian Peterson,Adrian,Peterson,Oklahoma,RB,2-Jun,217.0,Minnesota Vikings,1st,1942,1945

In [7]:
df2['name'].value_counts()

Ed Smith            5
Chris Johnson       4
Jim Miller          4
Greg Jones          4
George Wilson       4
Bill Johnson        4
Mike Johnson        4
Mike Williams       4
Chris Davis         4
Joe Williams        4
Kevin Williams      4
Jeff Smith          4
Steve Smith         4
Willie Jones        4
Larry Brown         4
John Henderson      3
Charlie Johnson     3
Joe Johnson         3
Eric Brown          3
Jim Leonard         3
Jeff Allen          3
John Thomas         3
Jim Kelly           3
Eric Smith          3
Jim Smith           3
Kyle Williams       3
Eric Johnson        3
Anthony Davis       3
Ricky Williams      3
Clay Matthews       3
                   ..
Dwan Edwards        1
Lindy Mayhew        1
Aaron Manning       1
Jack Mattiford      1
Don Stallings       1
Marcus Dupree       1
Larry Williams      1
Fletcher Smith      1
Maurice Henry       1
Terrell Fletcher    1
David Hill          1
Hank Baskett        1
Frank Kristufek     1
Bill Kerr           1
Gordon Paschka      1
Dave Ball           1
Scott Peters        1
Jack Cloud          1
Bob Dwyer           1
Bill McClard        1
Jeris Pendleton     1
Chase Boldt         1
Marcedes Lewis      1
Cal Thomas          1
Larry Mialik        1
Troy Archer         1
Malcolm Moore       1
Aaron Williams      1
Bob Spitulski       1
Emile Palmer        1
Name: name, Length: 23001, dtype: int64

In [8]:
len(df2['name'].unique())

23001

In [9]:
len(df2['name'])

23733

In [10]:
df2.dtypes

name            object
first_name      object
last_name       object
college         object
position        object
height          object
weight         float64
draft_team      object
draft_round     object
year_start       int64
year_end         int64
dtype: object

In [11]:
df3 = df2[df2['year_start']>1985]

In [12]:
len(df3['name'].unique())

9547

In [13]:
len(df3['name'])

9817

In [14]:
df3.loc[(df3['first_name'] == 'Adrian')] #& (df3['last_name'] == 'Rodgers')]

,name,first_name,last_name,college,position,height,weight,draft_team,draft_round,year_start,year_end
590,Adrian Arrington,Adrian,Arrington,Michigan,WR,2-Jun,185.0,New Orleans Saints,7th,2010,2012
717,Adrian Awasom,Adrian,Awasom,North Texas,DE,5-Jun,275.0,NaN,NaN,1987,1993
2195,Adrian Breen,Adrian,Breen,Morehead St.,QB,4-Jun,183.0,NaN,NaN,2007,2012
2835,Adrian Burk,Adrian,Burk,Baylor,QB,2-Jun,190.0,Baltimore Colts,1st,1987,1989
4257,Adrian Cooper,Adrian,Cooper,Oklahoma,TE,5-Jun,255.0,Pittsburgh Steelers,4th,1995,1999
5378,Adrian Dingle,Adrian,Dingle,Clemson,DE,3-Jun,272.0,San Diego Chargers,5th,1999,2003
6728,Adrian Ford,Adrian,Ford,Lafayette,B,10-May,190.0,NaN,NaN,2011,2013
8389,Adrian Hamilton,Adrian,Hamilton,Prairie View A&M,LB,3-Jun,251.0,NaN,NaN,2000,2001
8539,Adrian Hardy,Adrian,Hardy,NW State (LA),DB,11-May,194.0,San Francisco 49ers,2nd,2006,2013
11723,Adrian Klemm,Adrian,Klemm,Hawaii,G-T,3-Jun,310.0,New England Patriots,2nd,2003,2008
13673,Adrian McBride,Adrian,McBride,Tennessee,WR,Jun-00,195.0,NaN,NaN,2009,2013
18093,Adrian Ross,Adrian,Ross,Colorado St.,LB,2-Jun,245.0,NaN,NaN,1987,1988
20694,Adrian Taylor,Adrian,Taylor,NaN,DT,4-Jun,302.0,NaN,NaN,1995,1999
22489,Adrian White,Adrian,White,Southern Illinois,DB,Jun-00,200.0,New York Giants,2nd,1994,2002
23049,Adrian Wilson,Adrian,Wilson,North Carolina St.,DB,3-Jun,222.0,Arizona Cardinals,3rd,2012,2013
23411,Adrian Wright,Adrian,Wright,Virginia Union,RB,1-Jun,230.0,NaN,NaN,2003,2008
23553,Adrian Young,Adrian,Young,USC,LB,1-Jun,232.0,Philadelphia Eagles,3rd,2006,2011